<div *ngIf="mode !== Mode.VIEW">
  <label class="control-label col-sm-3" [attr.for]="id">{{ title }}{{mandatoryLabel}}:</label>
  <div class="col-sm-5">
    <input
      type="password"
      class="form-control"
      [(ngModel)]="value"
      [ngClass]="{invalid: (invalid | async)}"
      [id]="id"
      [name]="id"
      [title]="title"
      [placeholder]="placeholder"
    />
  </div>
  <div class="col-sm-4">
    <ui-messages-validation
      *ngIf="invalid | async"
      [messages]="failures | async">
    </ui-messages-validation>
  </div>
</div>
<div *ngIf="mode === Mode.VIEW">
  <ui-review [title]="title" [value]="value">
  </ui-review>
</div>
