<div *ngIf="mode !== Mode.VIEW">
  <label class="control-label col-sm-3" [attr.for]="id">{{ title }}{{mandatoryLabel}}:</label>
  <div class="col-sm-5">
    <div class="form-group">
      <div class="input-group">
        <input [id]="id" type="text" class="form-control" bsDatepicker #dp="bsDatepicker"
               [bsConfig]="bsConfig"
               [placeholder]="placeholder"
               [minDate]="minDate" [maxDate]="maxDate"
               [(ngModel)]="value">
        <div class="input-group-btn">
          <button type="button" class="btn btn-success" (click)="dp.show() ">Open</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <ui-messages-validation
      *ngIf="invalid | async"
      [messages]="failures | async">
    </ui-messages-validation>
  </div>
</div>
<div *ngIf="mode === Mode.VIEW">
  <ui-review [title]="title" [value]="value">
  </ui-review>
</div>
