.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #1E88E5;
  background-color: #e7e7e7;
  font-weight: bold;
}

.form-group {
  margin-top: 10px;
  margin-right: 10px;
}

.navbar-default>li:hover>a, .navbar-nav>li:hover>a {
  background-color: #1E88E5;
  color: white;
}

