<img src="/assets/images/everis.jpg" width="100%" />
<br /><br/>
<div class="row">
    <div class="col-xs-7"></div>
    <div class="col-xs-4">
        <div class="col-xs-1 pull-right">
            <a align-left href="http://www.linkedin.com/company/everis" target="_blank" ><img src="/assets/images/linkedin.jpg" alt="Linkedin" /></a>
        </div>
        <div class="col-xs-1 pull-right">
            <a href="http://www.youtube.com/user/everisgroup" target="_blank"><img src="/assets/images/youtube.png" alt="Youtube" /></a>
        </div>
        <div class="col-xs-1 pull-right">
            <a href="https://www.twitter.com/everis" target="_blank"><img src="/assets/images/twitter.jpg" alt="Twitter" /></a>
        </div>
        <div class="col-xs-1 pull-right">
            <a href="http://www.facebook.com/everis" target="_blank"><img src="/assets/images/facebook.jpg" alt="Facebook" /></a>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>