@charset "utf-8";


    input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-top: initial;
    color: #888;
    line-height: initial;
    display: initial;
    border-color: #a9a9a9;
    }

    button:focus { outline: 0; }

    :host:first-child {
    height: 32px;
    }

    This class overrides the general one with !important. IT IS A MUST

    .full-size {
    height: 100% !important;
    width: 100% !important;
    }

    .dp-nav-header {
    padding: 4px;
    height: 32px;
    background: #ddd;
    outline: 1px solid #bbb;
    }

    .dp-icon {
    border-radius: 50%;
    background: whitesmoke;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .dp-icon-left {
    background-image: url("../../../../assets/images/icons/icon-hinge-rtl.png");
    }

    .dp-icon-right {
    background-image: url("../../../../assets/images/icons//icon-hinge.png");
    }

    .dp-calendar-wrapper {
    box-sizing: border-box;
    background: #FFFFFF;
    }

    .dp-weekdays {
    padding: 2px;
    height: 40px;
    }

    .dp-calendar-weekday {
    box-sizing: border-box;
    display: inline-block;
    width: 38px;
    text-align: center;
    }

    .dp-calendar-week {
    padding-top: 2px;
    padding-bottom: 2px;
    }

    .dp-calendar-day-container {
    padding-left: 1px;
    padding-right: 1px;
    }

    .dp-calendar-day {
    text-align: right;
    background: white;
    border-radius: 0;
    outline: 1px solid #bbb;
    box-sizing: border-box;
    width: 34px;
    height: 28px;
    cursor: pointer;
    }

    .dp-calendar-day[disabled] {
    background: #aaa;
    color: gray;
    cursor: not-allowed;
    }

    .dp-current-day {
    outline: 1px solid #106CC8;
    }

    .dp-selected {
    background: #106CC8;
    color: #FFFFFF;
    }

    .dp-prev-month, .dp-next-month {
    opacity: 0.5;
    }

    .dp-hide-near-month {
    .dp-prev-month, .dp-next-month {
        visibility: hidden;
    }
    }

    .dp-week-number {
    position: absolute;
    font-size: 9px;
    }

    .dp-footer {
    height: 40px;
    }

