.view-side-form{
  z-index: 99;
}

.side-form {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}

.side-form img{
  width: 100%;
}
