<div class="panel panel-default" *ngIf="process">
  <div class="panel-heading"><strong>{{ 'processDetail' | translate }}</strong></div>
  <div class="panel-body ">
    <div class="row">
      <div class="col-md-4">
        <label for="processInstanceId">{{ 'column-processInstanceId' | translate}}:</label>
        <div id="processInstanceId"><strong>{{process.processInstanceId}}</strong></div>
      </div>
      <div class="col-md-4">
        <label for="processKey">{{ 'column-processKey' | translate}}:</label>
        <div id="processKey" >{{process.processKey}}</div>
      </div>
      <div class="col-md-4">
        <label for="processDefinitionId">{{ 'column-processDefinitionId' | translate}}:</label>
        <div id="processDefinitionId">{{process.processDefinitionId}}</div>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row row-m-t">
      <div class="col-md-4" *ngIf="process.latestActivity">
        <label for="latestActiviti">{{ 'column-latestActivity' | translate}}:</label>
        <div id="latestActiviti"><u><small>{{process.latestActivity.id}} | {{process.latestActivity.name}} |
          {{process.latestActivity.creationDate | date: ('DATE_TIME_FORMAT' | translate)}}</small></u>
        </div>
      </div>

      <div class="col-md-4">
        <a class="btn btn-info" md-button [routerLink]="['image']">
          <i class="fa fa-picture-o" aria-hidden="true"></i> {{'processPreview' | translate}}
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default" class="btn btn-info" md-button [routerLink]="['tasks']" *ngIf="process.tasks">
          <i class="fa fa-tasks" aria-hidden="true"></i> {{'view-tasks' | translate}}
        </a>
        <span *ngIf="!process.tasks"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'no-tasks' | translate}}</span>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default" class="btn btn-info" md-button [routerLink]="['variables']"
           *ngIf="process.processVariables">
          <i class="fa fa-database" aria-hidden="true"></i> {{'view-variables' | translate}}
        </a>
        <span *ngIf="!process.processVariables"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'no-variables' | translate}}</span>
      </div>
    </div>
    <div class="table-responsive">
      <h4>{{ 'processHistoryList' | translate }}</h4>
      <table class="table table-striped" [mfData]="processHistoryList" #mf="mfDataTable" [mfRowsOnPage]="25">
        <thead>
        <tr>
          <th class="col-lg-2">
            <mfDefaultSorter by="activityId">{{ 'column-activityId' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="activityName">{{ 'column-activityName' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="activityType">{{ 'column-activityType' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="assignee">{{ 'column-assignee' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="startDate">{{ 'column-startDate' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="endDate">{{ 'column-endDate' | translate}}</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="duration">{{ 'column-duration' | translate}}</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let processHistory of mf.data">
          <td>{{processHistory.activityId}}</td>
          <td>{{processHistory.activityName}}</td>
          <td>{{processHistory.activityType}}</td>
          <td>{{processHistory.assignee}}</td>
          <td>{{processHistory.startDate | date: ('DATE_TIME_FORMAT' | translate)}}</td>
          <td>{{processHistory.endDate | date: ('DATE_TIME_FORMAT' | translate)}}</td>
          <td>{{processHistory.duration/1000}} {{'seconds' | translate }} ({{processHistory.duration}} ms)</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <a class="btn btn-secondary btn-sm" md-button routerLink="/process">
      <i class="fa fa-arrow-left"></i> {{ 'back' | translate}}
    </a>
  </div>

  <div class="view-side-form">
    <router-outlet></router-outlet>
  </div>
</div>


