h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  color: #444;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.header-bar {
  background-color: rgb(0, 120, 215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa.fa-user {
  color: #369;
  font-size: 16px;
  vertical-align: middle;
}

.modal-open {
  overflow-y: auto
}
