h1 {
  font-size: 1.2em;
  color: #999;
  color: #555;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #039be5;
    background-color: #e7e7e7;
    font-weight: bold;
}

.header-bar {
  background-color: rgb(0,120,215);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa.fa-user {
  color: #369;
  font-size: 16px;
  vertical-align: middle;
}