<div class="app d-flex">
  <app-header *ngIf="isActive()"></app-header>
  <div class="app-body">
    <div class="row" *ngIf="isActive()">
     <h1>{{ 'tourOfHeroes' | translate }}</h1>
    </div>
    <div class="header-bar" *ngIf="isActive()"></div>
    <app-nav *ngIf="isActive()" class="align-self-center pr-1" [items]="menus" [languages]="languages"></app-nav>
    <main class="p-1">
      <app-spinner></app-spinner>
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer *ngIf="isActive()"></app-footer>
</div>
