<div id="heroListContent">
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ 'heroes.list-title' | translate }}</h1>
    </div>
    <div class="col-sm-6 align-bottom">
      <button class="btn btn-primary pull-right" routerLink="/heroes/create">{{'heroes.create'| translate}}</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>{{ 'heroes.columns.preview' | translate}}</th>
      <th>{{ 'heroes.columns.name' | translate}}</th>
      <th>{{ 'heroes.columns.editorial' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hero of heroes | async; trackBy: trackById">
      <td>
        <div class="btn-group">
          <button routerLink="/heroes/detail/{{hero.id}}" class="btn btn-secondary btn-sm">
            <i class="fa fa-search"></i>
          </button>
          <button routerLink="/heroes/edit/{{hero.id}}" class="btn btn-info btn-sm">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button (click)="delete(hero.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </td>
      <td><img *ngIf="hero.image" src="assets/images/{{hero.image}}" alt="{{hero.name}}" width="60px" height="60px"/>
      </td>
      <td>{{hero.name}}</td>
      <td>{{hero.editorial | description : (editorials | async)}}</td>
    </tr>
    </tbody>
  </table>
</div>
