<div class="header row">
  <span class="helper"></span>
  <div class="row content full-width">
    <div class="col-xs-8" *ngIf="isActive()">
      <img class="logo" src="assets/images/logo.png"><span>{{ "application.title" | translate}}</span>
    </div>
    <div class="col-xs-2" *ngIf="getUser()">
      <i class="fa fa-user" aria-hidden="true"></i> {{getUser()}} | 
      <a (click)="onLogout()">Logout</a>
    </div>
    <div class="col-xs-2 pull-right" *ngIf="isActive()">
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>

