<div class="row header">
  <span class="helper"></span>
  <div class="row content full-width">
    <div class="col-xs-8" *ngIf="isActive()">
      <img src="assets/images/logo.png"><span style="padding-left: 20px;">{{'appTitle' | translate}}</span>
    </div>
    <div class="col-xs-2" *ngIf="getUser()">
      <i class="fa fa-user" aria-hidden="true"></i> {{getUser()}} |
      <a id="linkLogout" (click)="onLogout()">{{'logout' | translate}}</a>
    </div>
    <div class="col-xs-2 pull-right" *ngIf="isActive()">
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>

