<h1>{{ 'villainDetail' | translate }}</h1>
<div *ngIf="villain">
  <div class="row">
    <label class="col-sm-1">{{ 'column-name' | translate}}:</label>
    <div class="col-sm-10">{{villain.name}}</div>
  </div>
  <div class="row">
    <label class="col-sm-1">{{ 'column-editorial' | translate}}: </label>
    <div class="col-sm-10">{{villain.editorialText}}</div>
  </div>
  <div class="row">
    <label class="col-sm-1">{{ 'column-preview' | translate}}:</label>
    <div class="col-sm-10"><img src="assets/images/{{villain.image}}" alt="{{villain.name}}" /></div>
  </div>
</div>
<button class="btn btn-secondary btn-sm" routerLink="/villains">
  <i class="fa fa-arrow-left"></i> {{ 'back' | translate}}
</button>