<div *ngIf="mode !== Mode.VIEW && values">
  <label class="control-label col-sm-3" [attr.for]="id">{{ title }}{{mandatoryLabel}}:</label>
  <div class="col-sm-5">
    <select [id]="id" class="form-control" [ngClass]="{invalid: (invalid | async)}"
            [ngModel]="value" (change)="onValueChanged($event.target.value)">
      <option *ngFor="let v of values" [value]="v.id">{{v.text}}</option>
    </select>
  </div>
  <div class="col-sm-4">
    <ui-messages-validation
      *ngIf="invalid | async"
      [messages]="failures | async">
    </ui-messages-validation>
  </div>
</div>
<div *ngIf="mode === Mode.VIEW">
  <ui-review [title]="title" [value]="getSelectedText()">
  </ui-review>
</div>
