<div>
  <div *ngIf="mode !== Mode.VIEW" class="input-box">
    <label [attr.for]="id" hidden>{{ title }}</label>
    <input
      type="text"
      [(ngModel)]="value"
      [ngClass]="{invalid: (invalid | async)}"
      [id]="id"
      [title]="title"
      (change)="onValueChanged($event.target.value)"
    />
    <span class="input-title">{{ title }}{{ mandatoryLabel }}: </span>
    <ui-messages-validation
      [@flyInOut]="'in,out'"
      *ngIf="invalid | async"
      [messages]="failures | async">
    </ui-messages-validation>
  </div>
  <div *ngIf="mode === Mode.VIEW">
    <ui-review [title]="title"
                [value]="value">
    </ui-review>
  </div>
</div>
