<div class="b-input b-input-dropdown b-input--has-floatlabel b-input--is-required">
  <div class="b-input__table">
    <div *ngIf="mode !== Mode.VIEW" class="input-box">
      <label [attr.for]="id" hidden>{{ title }}</label>
      <select class="b-input__input b-input__dropdown-input"
              [(ngModel)]="value"
              [ngClass]="{invalid: (invalid | async)}"
              [id]="id"
              (change)="onValueChanged($event.target.value)">
        <option *ngFor="let d of data; let i=index" [value]="d[keyField]">{{texts[i]}}</option>
      </select>
      <span class="input-title">{{ title }}{{mandatoryLabel}}: </span>
      <messages-validation
        [@flyInOut]="'in,out'"
        *ngIf="invalid | async"
        [messages]="failures | async">
      </messages-validation>
    </div>
    <div *ngIf="mode === Mode.VIEW">
      <ui-review [title]="title"
                 [value]="getSelectedText()">
      </ui-review>
    </div>
  </div>
  <!-- <div class="b-input__info">
  <div class="b-input__info-label">
    <p>Optional b-input__info</p>
  </div>
  <div class="b-input__info-text">
    <p>This is an optional element and can be used inside b-input blocks.</p>
  </div> -->
</div>
