<h1>{{'heroes.create-title' | translate}}</h1>

<form #frmHero="ngForm" id="frmHero" novalidate (ngSubmit)="onSaveHero()" novalidate>
  <div class="row">
    <ui-input required [dataErrorRequired]="'validations.required.name' | translate"
              id="txtName"
              title="{{'heroes.fields.name' | translate}}"
              placeholder="{{'heroes.placeholders.name' | translate }}"
              [mode]="mode"
              [(ngModel)]="hero.name"
              [focus]="true"
              [ngModelOptions]="{standalone: true}">
    </ui-input>
  </div>
  <div class="row">
    <ui-select numeric [dataErrorNumeric]="'validations.numeric.editorial' | translate"
               id="selEditorial"
               title="{{'heroes.fields.editorial' | translate}}"
               keyField="id"
               textField="text"
               [(ngModel)]="hero.editorial"
               [mode]="mode"
               [data]="editorials"
               [ngModelOptions]="{standalone: true}">
    </ui-select>
  </div>
  <!--<div class="row">-->
    <!--<ui-input id="txtImage"-->
              <!--title="{{'heroes.fields.preview' | translate}}"-->
              <!--placeholder="{{'heroes.placeholders.preview' | translate}}"-->
              <!--[(ngModel)]="hero.image"-->
              <!--[mode]="mode"-->
              <!--[ngModelOptions]="{standalone: true}">-->
    <!--</ui-input>-->
  <!--</div>-->
  <div class="row">
    <ui-datepicker required dateValidator
                   id="dpDate"
                   title="{{'heroes.fields.creationDate' | translate}}"
                   placeholder="{{'heroes.placeholders.creationDate' | translate}}"
                   [mode]="mode"
                   [(ngModel)]="hero.creationDate"
                   [ngModelOptions]="{standalone: true}">
    </ui-datepicker>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!validate()">{{'heroes.save' | translate}}</button>
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm" routerLink="/heroes">
        <i class="fa fa-arrow-left"></i> {{'back' | translate}}
      </button>
      <button type="button" (click)="reset()" class="btn btn-danger btn-sm">
        <i class="fa fa-undo"></i> {{'reset' | translate}}
      </button>
    </div>
  </div>
</form>
