<h1>{{ 'heroDetail' | translate }}</h1>
<div *ngIf="hero">
  <div class="row">
    <label class="col-sm-1">{{ 'column-name' | translate}}:</label>
    <div class="col-sm-10">{{hero.name}}</div>
  </div>
  <div class="row">
    <label class="col-sm-1">{{ 'column-editorial' | translate}}: </label>
    <div class="col-sm-10">{{hero.editorialText}}</div>
  </div>
  <div class="row">
    <label class="col-sm-1">{{ 'column-preview' | translate}}:</label>
    <div class="col-sm-10"><img src="assets/images/{{hero.image}}" alt="{{hero.name}}" /></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-secondary btn-sm" routerLink="/heroes">
    <i class="fa fa-arrow-left"></i> {{ 'back' | translate}}
  </button>
  <button (click)="delete(hero.id)" class="btn btn-danger btn-sm">
    <i class="fa fa-times"></i> {{ 'delete' | translate}}
  </button>
</div>
