<img src="assets/images/about_us.jpg" width="100%"/>
<br/><br/>
<div class="row">
  <div class="col-xs-9"></div>
  <div class="col-xs-3" style="left: -15px">
    <div class="col-xs-1 pull-right">
      <a align-left href="https://es.linkedin.com/in/yahima-duarte-perez-4372755b" target="_blank">
        <img src="assets/images/linkedin.jpg" alt="Linkedin"/>
      </a>
    </div>
    <div class="col-xs-1 pull-right">
      <a href="https://twitter.com/layahi82" target="_blank">
        <img src="assets/images/twitter.jpg" alt="Twitter"/>
      </a>
    </div>
    <div class="col-xs-1 pull-right">
      <a href="https://es-es.facebook.com/public/Yahima-Duarte-Perez" target="_blank">
        <img src="assets/images/facebook.jpg" alt="Facebook" />
      </a>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
